<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Cadastro</ion-title>
    <ion-menu-button color="dark" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="enviando(f)" enctype="multipart/form-data">
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="dados.nome"  name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input [(ngModel)]="dados.email" type="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone:</ion-label>
      <ion-input [(ngModel)]="dados.telefone" type="tel" name="telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input [(ngModel)]="dados.senha" type="password" name="senha"></ion-input>
    </ion-item>



    <ion-button fill="outline" expand="block" type="submit">Cadastrar</ion-button>
  </form>
</ion-content>
