<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="end" (click)="novoCliente()">Adicionar Cliente</ion-button>
    <ion-label style="padding: 5px; font-size: 18px; font-weight: bold;">Clientes</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item-sliding *ngFor="let c of clientes">
      <ion-item-options>
        <ion-item-option color="danger" (click)="remover(c.id)">Deletar</ion-item-option>
        <ion-item-option color="success" (click)="atualizar(c)">Atualizar</ion-item-option>
      </ion-item-options>
      <ion-item> {{c.nome}}</ion-item>
    </ion-item-sliding>

  </ion-list>
</ion-content>
