<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
    <ion-menu-button color="dark" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form #f="ngForm" (ngSubmit)="logar(f)">

  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input [(ngModel)]="dados.email" type="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha:</ion-label>
    <ion-input [(ngModel)]="dados.senha" type="password" name="senha"></ion-input>
  </ion-item>

  <ion-button fill="outline" expand="block" type="submit" color="success">Logar</ion-button>
</form>
</ion-content>
